body {
    background: url("pics/background.jpg") no-repeat;
    background-size: 100%;
}

div.container4 {
    text-align: center;
    height: 3em;
    color: rgb(229, 229, 241);
    font-size: 700%;
    font-weight: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15%;
}